#my-container {
  position: relative;
  text-align: center;
  color: white;
}

#my-container img {
	width: 100%;
	height: auto;
}
#head-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
  font-size: 60px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 0 0;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 5px;
  background-color: white;
  text-align: center;

}

body {
    background-color: whitesmoke;
}
	